*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100%;
    height: 100%;
}
h1, h2, h3, h4, h5, h6{
    font-size: 1.5em;
    text-align: center;
}
.container
{
    width: 100%;
}
form
{
    margin: 0px auto;
    position: relative;
    left: 40%;
    top: 20%;
}
.formInput
{
    width: 250px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    margin: 5px;
}

label
{
    font-size: 14px;
}

table, th, td 
{
    margin: 0px auto;
    border: 1px solid #ddd;
    width: 750px;
}

table{
    border-collapse: collapse;
}